@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #F4F4F4;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}